* {
  margin: 0;
}
html, body {
  background: #fff;
  font-family: 'Noto Serif', serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e47a7a;
}
::selection {
  background: #e47a7a;
}
@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
@-moz-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
@-o-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
@-ms-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
/* ==== Banner Styling ==== */
.banner {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url(images/banner.jpeg);
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  height: 550px;
}
.banner p {
  color: #fff;
  margin-left: 40px;
  font-size: 50px;
}
h1 {
  color: #fff;
  font-size: 70px;
  position: relative;
  top: 100px;
}
#line {
  border-bottom: 4px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 1s infinite alternate;
  -moz-animation: rainbow 1s infinite alternate;
  -o-animation: rainbow 1s infinite alternate;
  -ms-animation: rainbow 1s infinite alternate;
}
.menubtn {
  display: block;
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 7px;
  left: 0;
}
.menubtn:hover {
  cursor: pointer;
  color: #e47a7a;
  transition: 0.2s;
}
.sidenav {
  display: block;
  background: #293133;
  height: 100%;
  width: 0;
  padding-top: 80px;
  transition: 1s;
  z-index: 999;
  overflow: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}
.sidenav a {
  display: block;
  border-radius: 50px;
  color: #fff;
  width: 30%;
  font-size: 25px;
  font-family: 'Spectral SC', serif;
  text-decoration: none;
  padding: 14px 16px;
}
.sidenav a:hover {
  background: #e47a7a;
}
.sidenav p {
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 5px -5px #fff;
  -moz-box-shadow: 0 5px 5px -5px #fff;
  -webkit-box-shadow: 0 5px 5px -5px #fff;
  -o-box-shadow: 0 5px 5px -5px #fff;
  -ms-box-shadow: 0 5px 5px -5px #fff;
  color: #fff;
  width: 60%;
  font-size: 25px;
  position: relative;
  top: 270px;
}
.conbtn {
  display: inline-block;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 25px;
  font-family: 'Spectral SC', serif;
  position: relative;
  top: 280px;
}
.conbtn:hover {
  cursor: pointer;
  color: #e47a7a;
  transition: 0.5s;
}
.sidenav .closebtn {
  width: auto;
  font-size: 45px;
  position: absolute;
  top: 0;
  right: 0;
}
.sidenav .closebtn:hover {
  background: transparent;
  color: #e47a7a;
  transition: 0.5s;
}
/* ==== New Styling ==== */
.new {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  height: auto;
  width: 90%;
  padding-top: 10px;
  position: absolute;
  top: 70%;
  left: 5%;
}
h2 {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  color: #000;
  width: 40%;
  font-size: 35px;
}
.img {
  display: inline-block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  width: 350px;
}
.new ul {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #293133;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  height: 100%;
  margin-top: -4px;
  padding: 10px;
}
.new p {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  color: #fff;
  width: 70%;
  font-size: 35px;
}
.downbtn {
  outline: none;
  border: none;
  border-radius: 50px;
  background: linear-gradient(262deg,#fc785a,#f92d7f);
  color: #fff;
  width: 60%;
  padding: 10px;
  font-size: 20px;
}
.downbtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}
/* ==== Template Styling ==== */
.template {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  height: auto;
  width: 90%;
  padding-top: 10px;
  position: absolute;
  top: 70%;
  left: 5%;
}
.template ul {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #293133;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  height: 100%;
  margin-top: -4px;
  padding: 10px;
}
.template p {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  color: #fff;
  width: 70%;
  font-size: 35px;
}
.table {
  padding: 10px;
}
.dropdown {
  float: right;
  outline: none;
  border: none;
  background: #e0e0e0;
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  height: 45px;
  width: 15%;
  margin-right: 5%;
}
.dropdown:hover {
  cursor: pointer;
}
/* ==== About Us Styling ==== */
.about {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -o-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  -ms-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
  height: auto;
  width: 90%;
  padding-top: 10px;
  position: absolute;
  top: 70%;
  left: 5%;
}
h3 {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px #000;
  -moz-box-shadow: 0 5px 5px -5px #000;
  -webkit-box-shadow: 0 5px 5px -5px #000;
  -o-box-shadow: 0 5px 5px -5px #000;
  -ms-box-shadow: 0 5px 5px -5px #000;
  color: #000;
  width: 40%;
  font-size: 40px;
}
.about p {
  color: #000;
  width: 60%;
  font-size: 20px;
}
.me {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
/* ==== Smaller Screens ==== */
@media screen and (min-device-width : 320px) and (max-device-width : 736px){
  .banner {
    height: auto;
  }
  .banner p {
    margin-left: 40px;
    font-size: 50px;
  }
  .sidenav a, h2, h3, .img, .new p, .downbtn, .dropdown, .about p {
    width: 90%;
  }
  .sidenav a:hover {
    background: transparent;
  }
  .sidenav p, .conbtn {
    display: none;
  }
  h1 {
    font-size: 40px;
    position: relative;
    top: 0;
  }
  #line {
    border-bottom: none;
  }
  .new, .template, .about {
    background: transparent;
    box-shadow: none;
    width: 90%;
    position: relative;
    top: 0;
  }
  .new ul, .template ul {
    width: 84.5%;
  }
}
/* ==== Ipad's Styling ==== */
@media screen and (device-width : 768px){
  .sidenav p {
    position: relative;
    top: 650px;
  }
  .conbtn {
    position: relative;
    top: 660px;
  }
  .new, .template, .about {
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
  }
  .img {
    width: 300px;
  }
  .dropdown {
    width: 20%;
  }
}
@media screen and (device-width : 1024px){
  .sidenav p {
    position: relative;
    top: 970px;
  }
  .conbtn {
    position: relative;
    top: 980px;
  }
  .new, .template, .about {
    width: 90%;
    position: absolute;
    top: 35%;
    left: 5%;
  }
  .img {
    width: 300px;
  }
}
